<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909603425935-b56fj426t1lh127kia65m52gk5r4jk7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909603425935-b56fj426t1lh127kia65m52gk5r4jk7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAx4HZE8Xl97141-F2IoiXXm_PKLqb8OeU</string>
	<key>GCM_SENDER_ID</key>
	<string>909603425935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterButThreads</string>
	<key>PROJECT_ID</key>
	<string>twitter-but-threads</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-but-threads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909603425935:ios:eb838cb54f8b3e712e6afa</string>
</dict>
</plist>